<div class="menu-button" onclick="openMenu();">☰</div>
    <div class="header-menu">
        <a class="home-button">Home</a>
        <a class="catalogue-button">Catalogo</a>
        <a class="login-button">Accedi</a>
    </div>

    <div class="header-icons">
        <a class="home-button">Home</a>
        <a class="catalogue-button">Catalogo</a>
        <a class="login-button">Accedi</a>
    </div>

<div class="header1">
    <img class="cart-icon" src="../assets/img/cart.png">
    <div class="title-text">eShoppalo</div>
</div>

<div class="main">
    <div class="product-image">
        <img src="">
    </div>
    <div class="product-info">
        <div class="product-header">
            <div class="product-title"></div>
            <div class="product-description"></div>
        </div>
        <div class="product-details">
            <div class="product-categories">
                <div class="product-categories-text">Categorie</div>
                <div class="product-categories-category"></div>
            </div>
            <div class="release-date">
                <div class="release-date-text">Data di rilascio</div>
            </div>
            <div class="product-pegi">
                <div class="product-pegi-text">Valutato</div>
            </div>
            <div class="product-publisher">
                <div class="product-publisher-text">Produttore</div>
            </div>
            <div class="product-players">
                <div class="product-players-text">Giocatori</div>
            </div>
            <div class="product-languages">
                <div class="product-languages-text">Lingue</div>
            </div>
        </div>
        <a class="posts-button-link" href="#product-posts"><div class="posts-button">Vedi gli annunci</div></a>
        <a class="eshop-button-link"><div class="eshop-button">Vedi sull'eShop</div></a>
    </div>

</div>

<div class="product-posts" id="product-posts">
    <div class="posts-title"></div>
    <div class="posts-container">
        <div class="post-categories">
            <div class="category-void"></div>
            <div class="category-title">Titolo</div>
            <div class="category-price">Prezzo</div>
            <div class="category-condition">Condizioni</div>
            <div class="category-special">Edizione speciale</div>
            <div class="category-city">Città</div>
            <div class="category-date">Data</div>
            <div class="category-void1"></div>
        </div>
    </div>
</div>

<div class="footer">
        <div class="footer-first-row">
            <div class="footer-logo"><img class="cart-icon2" src="../assets/img/cart.png">eShoppalo</div>
            <div class="footer-separator"></div>
            <div class="footer-nav">
                <div class="footer-home home-button">Home</div>
                <div class="footer-catalogue catalogue-button">Catalogo</div>
                <div class="footer-insert-post">Inserisci annuncio</div>
            </div>
        </div>
        <div class="footer-bottom-text">
            Eddai, vendili sti giochi. Oppure comprali.<br>
            Che tanto poi ammuffiscono in ogni caso. O ti annoierai.</br>
            Quindi lascia il compito di pulire a qualcun altro. Oppure accollatelo tu.
        </div>
    </div>  

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
    integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
    crossorigin="anonymous"></script>

<script src="../assets/js/checkLogged.js"></script>
<script src="../assets/js/owl.js"></script>
<script src="../assets/js/menu.js"></script>
<script src="../assets/js/loadPosts.js"></script>
<script src="../assets/js/loadGameInfo.js"></script>
<script src="../assets/js/navRouting.js"></script>