*, ::after, ::before{
    box-sizing: border-box;
}

img, svg {
    vertical-align: middle;
}

html, body{
    width: 100%;
    min-width: 200px;
    margin: 0 auto;
    padding: 0;
    font-family: 'Josefin Sans';
    background-color: rgb(246, 246, 246);
    color: rgb(60, 60, 60);
    user-select: none;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.header{
    position: fixed;
    width: 100%;
    height: 60px;
    z-index: 7;
    box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.306);
    user-select: none;
}

.header1{
    width: 100%;
    height: 60px;
    background-color: rgb(246, 246, 246);
    text-align: center;
    z-index: 6;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(218, 17, 17);
    box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.306);
    position: fixed;
    padding-right: 20px;
}

.title{
    height: 100%;
    width: 100%;
    font-family: 'Josefin Sans';
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
}

.title-text, .cart-icon{
    z-index: 6;
    position: absolute;
}

.title-text{
    left: 70px;
    font-weight: bold;
}

.cart-icon{
    left: 0;
    transform: scale(0.3);
    filter: invert(18%) sepia(73%) saturate(4931%) hue-rotate(355deg) brightness(87%) contrast(97%);
    margin-right: -30px;
}

.cart-icon2{
    z-index: 6;
    transform: scale(0.3);
    filter: invert();
    margin-right: -30px;
}

.header-icons{
    display: flex;
    position: absolute;
    top: 0;
    align-items: center;
    right: 0;
    margin-right: 50px;
    gap: 20px;
    justify-content: center;
    height: 60px;
    z-index: 20;
    font-weight: bold;
    position: fixed;
}

.catalogue-button, .login-button, .home-button{
    color: rgb(60, 60, 60);
    text-decoration: none;
    font-size: 20px;
    text-align: center;
}

.catalogue-button:hover, .login-button:hover, .home-button:hover{
    color: rgb(60, 60, 60);
}

a{
    text-decoration: none;
    cursor: pointer;
}

.main{
    position: relative;
    top: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
}

.product-image{
    width: 40%;
    aspect-ratio: 1.5/1;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-image > img{
    width: 60%;
}

.product-info{
    width: 60%;
    color: rgb(246, 246, 246);
}

.product-header{
    padding: 50px;
    background: rgb(218, 17, 17);
}

.product-title{
    font-size: 4vw;
    font-weight: bold;
}

.product-description{
    padding-top: 20px;
    font-size: 1.5vw;
}

.product-details{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
    color: rgb(60, 60, 60);
}

.product-details > div{
    width: 32%;
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgb(164, 164, 164);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}

.product-details > div > :first-child{
    font-weight: bold;
}

.product-pegi{
    width: 10%;
}

.product-categories-category{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.footer{
    position: relative;
    bottom: -50px;
    z-index: 1;
    width: 100%;
    height: auto;
    padding: 4vw;
    background-color: rgb(218, 17, 17);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    user-select: none;
}

.footer-bottom-text{
    width: 50%;
}

.footer-first-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.footer-nav{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-separator{
    width: 2px;
    height: 100px;
    border-radius: 10px;
    background-color: rgb(246, 246, 246);
}

.footer-nav > div{
    color: rgb(246, 246, 246);
    font-size: 1.5vw;
    cursor: pointer;
    text-decoration: none;
}

.footer-nav > div:hover{
    color: rgb(246, 246, 246);
}

.footer-logo{
    color: rgb(246, 246, 246);
    font-size: 2.5vw;
}

.footer-bottom-text{
    text-align: center;
    font-size: 1.3vw;
    color: rgb(246, 246, 246);
}

.hidden-div{
    display: none;
}

.menu-button{
    display: none;
    position: fixed;
    width: 30px;
    height: 30px;
    top: 0;
    right: 25px;
    color: rgb(60, 60, 60);
    z-index: 8;
    font-size: 40px;
    cursor: pointer;
}

.header-menu{
    position: fixed;
    top: 60px;
    right: 0;
    width: 200px;
    padding: 10px;
    display: none;
    z-index: 6;
    flex-direction: column;
    background-color: rgb(246, 246, 246);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.300);
    border-radius: 5px;
    opacity: 0;
    transition: opacity 1s linear;
    line-height: 1.5;
}

.menu-visible{
    display: flex;
    opacity: 1;
    transition: opacity 1s linear;
}

.header-menu > div{
    width: 100%;
    height: 100%;
}

.posts-button, .eshop-button{
    display: inline-block;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.306);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3vw;
    transform: scale(1);
    transition: transform 0.2s ease-out;
}

.posts-button:hover, .eshop-button:hover{
    transform: scale(1.1);
    transition: transform 0.2s ease-out;
}

.posts-button{
    background-color: rgb(218, 17, 17);
    color: rgb(246, 246, 246);
}

.eshop-button{
    margin-left: 30px;
    background-color: rgb(246, 246, 246);
    color: rgb(218, 17, 17);
}

.no-posts-div{
    position: relative;
    top: 100px;
    left: 50px;
    margin-bottom: 200px;
}

.product-posts{
    position: relative;
    box-sizing: border-box;
    top: 75px;
    width: 100%;
    padding: 50px;
    font-size: 2vw;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.posts-container{
    width: 100%;
    box-sizing: border-box;
    /*background-color: lightgrey;*/
    padding: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border: 2px solid rgb(218, 17, 17);
    background-color: rgb(218, 17, 17);

}

.posts-container > :nth-child(2){
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.posts-container > :last-child{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.post-categories{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    padding: 5px;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-around;
}

.post-categories > div{
    font-size: 1vw;
    text-align: center;
    color: rgb(246, 246, 246);
}

.post{
    width: 100%;
    height: 5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    box-sizing: border-box;
    border-top: 3px solid rgb(218, 17, 17);
    background-color: rgb(246, 246, 246);
}

.post:hover{
    background-color: rgba(246, 246, 246, 0.9);
}

.post-image-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.post-image{
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.post-game-title, .post-game-price, .post-game-special,
.post-city, .post-game-conditions, .post-date, .post-contact{
    text-align: center;
    font-size: 1vw;
    font-weight: bold;
}

.post-game-title{
    text-align: left;
    padding-left: 10px;
}

.post-image-div, .post-game-price, .post-game-special, .post-city,
.post-game-conditions, .post-date,
.category-void, .category-price, .category-condition, .category-city,
.category-special, .category-date{
    width: 10%;
}

.post-game-title, .post-contact-div, .category-title, .category-void1{
    width: 20%;
}

.post-contact-div{
    height: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.post-contact{
    border: 2px solid rgb(218, 17, 17);
    border-radius: 20px;
    padding: 10px;
    color: rgb(218, 17, 17);
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.2s ease-out;
}

.post-contact:hover{
    transform: scale(1.1);
    transition: transform 0.2s ease-out;
}

.login-div{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    gap: 3px;
    background-color: rgb(246, 246, 246);
    border-radius: 25px;
    box-shadow: 0 0 20px black;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.login-header{
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(230, 230, 230);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    user-select: none;
}

.login-title{
    font-size: 2vw;
    font-weight: bold;
    color: rgb(218, 17, 17);
}

.login-main{
    width: 100%;
    padding: 20px;
    background-color: rgb(230, 230, 230);
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}

.login-close{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(246, 246, 246);
    border-radius: 100%;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.106);
}

.login-close:hover{ 
    background-color: rgb(218, 17, 17);
}

.close-cross{
    color: rgb(218, 17, 17);
    font-size: 1.5vw;
}

.login-close:hover > div{ 
    color: rgb(246, 246, 246);
}

.login-email, .login-password,
.login-email:hover, .login-password:hover,
.login-email:focus, .login-password:focus{
    width: 100%;
    height: 60px;
    border-radius: 10px;
    background-color: rgb(246, 246, 246);
    border: none;
    outline: none;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.106);
}

.login-login-button{
    width: 100%;
    height: 60px;
    border-radius: 10px;
    background-color: rgb(218, 17, 17);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.106);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.login-login-text{
    font-size: 1.5vw;
    font-weight: bold;
    color: rgb(246, 246, 246);
    user-select: none;
}

.login-error{
    font-size: 1vw;
    color: rgb(218, 17, 17);
}

.login-footer{
    width: 100%;
    padding: 20px;
    background-color: rgb(230, 230, 230);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    display: flex;
    justify-content: center;
}

.login-footer-text{
    font-size: 1vw;
    color: rgb(218, 17, 17);
    cursor: pointer;
}

.dim{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: 0;
    backdrop-filter: blur(1px);
}

.dim-in{
    animation: fade-in 0.05s linear forwards;
}

.dim-out{
    animation: fade-out 0.05s linear forwards;
}

.dim-in-slower{
    animation: fade-in 0.5s linear forwards;
}

@keyframes fade-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes fade-out {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.chat-button{
    position: fixed;
    bottom: 20px;
    right: 100px;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    z-index: 20;
    background-color: rgb(246, 246, 246);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.506);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.chat-button > i{
    font-size: 35px;
    filter: invert(18%) sepia(73%) saturate(4931%) hue-rotate(355deg) brightness(87%) contrast(97%);
}

.chat-button{
    position: fixed;
    bottom: 20px;
    right: 7vw;
    width: 5vw;
    height: 5vw;
    border-radius: 100%;
    z-index: 20;
    background-color: rgb(246, 246, 246);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.506);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.chat-button{
    position: fixed;
    bottom: 20px;
    right: 100px;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    z-index: 20;
    background-color: rgb(246, 246, 246);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.506);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.chat-button > i{
    font-size: 35px;
    filter: invert(18%) sepia(73%) saturate(4931%) hue-rotate(355deg) brightness(87%) contrast(97%);
}

.chat-div{
    width: 500px;
    height: 500px;
    position: fixed;
    bottom: 50px;
    right: 9vw;
    background-color: rgb(246, 246, 246);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.506);
    z-index: 21;
    border: 1px solid grey;
}

.chat-header{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    padding: 10px;
    padding-top: 13px;
    justify-content: flex-start;
    box-sizing: border-box;
    align-items: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: rgb(218, 17, 17);
}

.chat-header > div{
    font-size: 20px;
    font-weight: bold;
    color: rgb(246, 246, 246);
}

.chat-header-div{
    width: 55%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.chat-content-div{
    height: 90%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    flex-direction: column;
}

.chat-box{
    height: 80%;
    padding: 10px;
    background-color: rgb(246, 246, 246);
    overflow: scroll;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.chat-write{
    height: 20%;
    padding: 10px;
    background-color: rgb(218, 17, 17);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.chat-write-box{
    width: 80%;
    height: 90%;
    background-color: rgb(246, 246, 246);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.306);
    outline: none;
    border: none;
    font-family: 'Josefin Sans';
    padding: 5px;
    box-sizing: border-box;
    font-size: 15px;
    resize: none;
}

.my-message-row{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.their-message-row{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.my-message-div{
    max-width: 70%;
    background-color: rgba(218, 17, 17, 0.2);
    border-radius: 15px;
    padding: 10px;
    box-sizing: border-box;
}

.their-message-div{
    max-width: 70%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    padding: 10px;
    box-sizing: border-box;
}

.my-message-content, .their-message-content{
    font-size: 18px;
}

.found-chats-div{
    height: 90%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.found-chats-div > :not(:last-child){
    border-bottom: 1px solid grey;
}

.found-chat{
    height: 80px;
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.found-chat:hover{
    background-color: rgba(218, 17, 17, 0.1);
}

.chat-write-button{
    width: 20%;
    height: 90%;
    background-color: rgb(246, 246, 246);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.306);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.chat-write-button > i{
    transform: scale(2);
    transition: transform 0.1s ease-out;
    filter: invert(18%) sepia(73%) saturate(4931%) hue-rotate(355deg) brightness(87%) contrast(97%);
}

.chat-write-button:hover > i{
    transform: scale(2.5);
    transition: transform 0.1s ease-out;
}

.chat-content-wait{
    height: 90%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.back-button > i{
    font-size: 25px;
    cursor: pointer;
}

.loader {
    width: 60px;
    height: 60px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 8px solid #bcbcbc;
    border-bottom: 8px solid rgb(247, 75, 75);
    border-right: 8px solid rgb(218, 17, 17);
    border-top: 8px solid rgb(171, 0, 0);
    border-radius: 50%;
}

.spinner{
    animation: spin-loader 2s linear infinite;
}

.spinner-once{
    animation: spin-loader-once 0.5s linear;
}

@keyframes spin-loader {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}

@keyframes spin-loader-once {
    0% { transform: translate(-50%, -50%) rotate(0deg); opacity: 1;}
    100% { transform: translate(-50%, -50%) rotate(360deg); opacity: 0;}
}

.no-chats{
    height: 90%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    background-color: rgb(246, 246, 246);
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-chats-text{
    font-weight: bold;
    font-size: 20px;
}

.user-chat-div{
    height: 90%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

@media only screen and (max-width: 1100px) {
    .catalogue-subtext{
        justify-content: flex-start;
    }
}

@media only screen and (max-width: 980px) {
    .header-icons{
        display: none;
    }

    .menu-button{
        display: flex;
    }

    .product-image{
        border-radius: 5px;
        margin: 0 auto;
    }

    .product-image > img{
        width: 100%;
    }

    .product-info{
        width: 100%;
        margin-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .product-title{
        font-size: 6vw;
        text-align: center;
    }

    .product-description{
        width: 100%;
        font-size: 4vw;
        text-align: center;
    }

    .main{
        flex-direction: column;
    }

    .footer{
        line-height: 1.5;
    }
    
    .footer-bottom-text{
        font-size: 4vw;
        width: 80%;
    }

    .footer-nav > div{
        font-size: 4vw;
    }

    .footer-nav > div:hover{
        font-size: 4vw;
    }

    .footer-logo{
        font-size: 4vw;
    }

    .product-header{
        padding: 20px;
    }

    .product-details {
        padding: 10px;
        padding-top: 20px;
    }

    .product-details > div {
        width: 30%;
        align-items: center;
    }

    .product-details > div > div{
        text-align: center;
    }

    .posts-button, .eshop-button {
        width: 40%;
        font-size: 4vw;
    }

    .product-posts{
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
        margin-top: 100px;
        padding: 10px;
        padding-bottom: 50px;
        font-size: 4vw;
    }

    .cart-icon {
        margin-left: -20px;
    }

    .title-text{
        left: 50px;
        font-size: 4vw;
    }

    .post-categories {
        height: auto;
    }

    .post-categories > div {
        font-size: 2vw;
    }

    .post-game-title, .post-game-price, .post-game-special, .post-city, .post-game-conditions, .post-date, .post-contact {
        font-size: 2vw;
    }

    .post-game-title, .category-title{
        width: 15%;
        text-align: center;
    }

    .post-game-special, .category-special{
        width: 15%;
    }


    .post{
        min-height: 8vw;
        height: auto;
    }

    .chat-div{
        width: 90%;
        right: 50%;
        transform: translateX(50%);
    }

    .chat-button{
        bottom: 20px;
        right: 20px;
    }

    .login-div{
        width: 90%;
    }

    .login-title{
        font-size: 5vw;
    }

    .close-cross{
        font-size: 4vw;
    }

    .login-login-text{
        font-size: 4vw;
    }
    
    .login-error{
        font-size: 3vw;
    }

    .login-footer-text{
        font-size: 3vw;
    }

}

@media only screen and (max-width: 800px) {
    .grid-element, .featured-grid-element{
        width: 33.333%;
    }
}