html, body{
    width: 100%;
    height: 100%;
    min-width: 200px;
    margin: 0 auto;
    padding: 0;
    font-family: 'Josefin Sans';
    background-color: rgb(246, 246, 246);
    color: rgb(60, 60, 60);
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.header{
    position: absolute;
    width: 100%;
    height: 60px;
    z-index: 6;
    box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.306);
    user-select: none;
}

.header1{
    width: 100%;
    height: 60px;
    background-color: rgb(246, 246, 246);
    text-align: center;
    gap: 20px;
    z-index: 5;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    position: relative;
    padding-right: 20px;
}

.title{
    height: 100%;
    font-family: 'Josefin Sans';
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    flex-direction: row;
}

.title-text, .cart-icon{
    z-index: 1;
}

.cart-icon{
    transform: scale(0.3);
    filter: invert();
    margin-right: -30px;
}

.header-icons{
    display: flex;
    position: absolute;
    top: 0;
    align-items: center;
    right: 0;
    margin-right: 350px;
    gap: 20px;
    justify-content: center;
    height: 60px;
    z-index: 20;
    font-weight: bold;
}

.catalogue-button, .login-button, .home-button{
    color: rgb(60, 60, 60);
    text-decoration: none;
    font-size: 20px;
    text-align: center;
}

.catalogue-button:hover, .login-button:hover, .home-button:hover{
    color: rgb(60, 60, 60);
}

a{
    cursor: pointer;
    text-decoration: none;
    color: rgb(60, 60, 60);
}

.cart-button, .cart-button:hover{
    color: rgb(218, 17, 17);
    text-decoration: none;
}

.banner-ellipse{
    z-index: 2;
}

.ellipse{
    background-color: rgb(218, 17, 17);
    width: 1000px;
    height: 500px;
    position: absolute;
    top: -350px;
    left: -500px;
    border-radius: 100%;
}

.banner{
    width: 100%;
    display: flex;
    padding: 40px;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: center;
}

.banner-image{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.banner-image > img{
    width: 90%;
    margin-top: -100px;
    z-index: 6;
}

.banner-wrap{
    width: 60%;
    margin-top: 40px;
    padding-bottom: -40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-text-big{
    font-family: 'Josefin Sans';
    font-weight: bold;
    font-size: 60px;
    text-align: left;
}

.banner-text-small{
    font-family: 'Josefin Sans';
    font-size: 20px;
    font-weight: normal;
}

.search-bar{
    width: 100%;
    height: 80px;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    flex: row;
    justify-content: space-around;
    align-items: center;
}

.search-bar > div{
    width: 40%;
    height: 80%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.1s ease-out;
}

.insert-post-button:hover, .to-catalogue-button:hover{
    transform: scale(1.1);
    transition: transform 0.1s ease-out;
}

.insert-post-button{
    background-color: rgb(246, 246, 246);
    color: rgb(218, 17, 17);
    font-size: 1.5vw;
    font-weight: bold;
}

.to-catalogue-button{
    background-color: rgb(218, 17, 17);
    color: rgb(246, 246, 246);
    font-size: 1.5vw;
    font-weight: bold;
}

input:hover, input:focus{
    border: 1px solid rgb(172, 172, 172);
}

.explore-button{
    width: 200px;
    height: 70px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    transform: scale(1);
    transition: transform 0.1s ease-out;
}

.search-button{
    margin-left: 8px;
    height: 50px;
    width: 60px;
    border-radius: 5px;
}

.button:hover{
    transform: scale(1.05);
    background-color: rgb(252, 80, 94);
    transition: transform 0.1s ease-out;
}

button{
    border: none;
}

.button{
    border-radius: 18px;
    background-color: rgb(230, 0, 18);
    color: white;
    font-size: 25px;
    font-family: 'Josefin Sans';
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.306);
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

.featured-text{
    width: 80%;
    position: relative;
    top: -20px;
    left: 50px;
    margin-bottom: -50px;
    font-family: 'Josefin Sans';
    font-weight: bold;
    font-size: 40px;
}

.featured-games{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-left: 50px;
}

.card{
    width: 300px;
    aspect-ratio: 2/1;
    border-radius: 10px;
    cursor: pointer;
}

.card-text{
    height: 60px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Josefin Sans';
}

.carousel{
    height: 250px;
}

.container-fluid{
    padding: 0;
}

.prev-button, .next-button{
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.906);
    border-radius: 10px;
}

.prev-button{
    position: absolute;
    top: 40%;
    left: 20px;
    transform: rotateZ(180deg);
}

.next-button{
    position: absolute;
    top: 40%;
    right: 20px;
}

.footer{
    position: relative;
    bottom: -50px;
    z-index: 1;
    width: 100%;
    height: auto;
    padding: 4vw;
    background-color: rgb(218, 17, 17);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    user-select: none;
}

.footer-bottom-text{
    width: 50%;
}

.footer-first-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.footer-nav{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-separator{
    width: 2px;
    height: 100px;
    border-radius: 10px;
    background-color: rgb(246, 246, 246);
}

.footer-nav > div{
    color: rgb(246, 246, 246);
    font-size: 1.5vw;
    cursor: pointer;
    text-decoration: none;
}

.footer-nav > div:hover{
    color: rgb(246, 246, 246);
}

.footer-logo{
    color: rgb(246, 246, 246);
    font-size: 2.5vw;
}

.footer-bottom-text{
    text-align: center;
    font-size: 1.3vw;
    color: rgb(246, 246, 246);
}

.menu-button{
    display: none;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    right: 25px;
    color: rgb(60, 60, 60);
    z-index: 8;
    font-size: 40px;
    cursor: pointer;
}

.header-menu{
    position: absolute;
    top: 60px;
    width: 200px;
    right: 0;
    padding: 10px;
    display: none;
    z-index: 10;
    flex-direction: column;
    background-color: rgb(246, 246, 246);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.300);
    border-radius: 5px;
    opacity: 0;
    transition: opacity 1s linear;
}

.menu-visible{
    display: flex;
    opacity: 1;
    transition: opacity 1s linear;
}

.header-menu > div{
    width: 100%;
    height: 100%;
}

.used-banner{
    width: 100%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(218, 17, 17);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.306);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.used-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 40px;
    gap: 10px;
    width: 60%;
    height: 100%;
}

.used-uppertext{
    position: inline-block;
    font-size: 4vw;
    font-weight: bold;
    line-height: 4vw;
    color: rgb(246, 246, 246);
}

.used-subtext{
    font-size: 1.5vw;
    color: rgb(246, 246, 246);
}

.used-image{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: -40px;
    width: 40%;
    height: 100%;
    padding-left: 20px;
    opacity: 0;
}

.used-image-visible{
    opacity: 1;
    left: 0;
    transition: all 0.4s linear;
}

.used-image > img{
    width: 90%;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.406);
}

.insert-button{
    width: 200px;
    height: 50px;
    background-color: rgb(246, 246, 246);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.406);
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(218, 17, 17);
    cursor:pointer;
    user-select: none;
}

.found-chats-div{
    height: 90%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.found-chat{
    height: 80px;
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.found-chat:hover{
    background-color: rgba(218, 17, 17, 0.1);
}

.login-div{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    gap: 3px;
    background-color: rgb(246, 246, 246);
    border-radius: 25px;
    box-shadow: 0 0 20px black;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.login-header{
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(230, 230, 230);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    user-select: none;
}

.login-title{
    font-size: 2vw;
    font-weight: bold;
    color: rgb(218, 17, 17);
}

.login-main{
    width: 100%;
    padding: 20px;
    background-color: rgb(230, 230, 230);
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}

.login-close{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(246, 246, 246);
    border-radius: 100%;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.106);
}

.login-close:hover{ 
    background-color: rgb(218, 17, 17);
}

.close-cross{
    color: rgb(218, 17, 17);
    font-size: 1.5vw;
}

.login-close:hover > div{ 
    color: rgb(246, 246, 246);
}

.login-email, .login-password,
.login-email:hover, .login-password:hover,
.login-email:focus, .login-password:focus{
    width: 100%;
    height: 60px;
    border-radius: 10px;
    background-color: rgb(246, 246, 246);
    border: none;
    outline: none;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.106);
}

.login-login-button{
    width: 100%;
    height: 60px;
    border-radius: 10px;
    background-color: rgb(218, 17, 17);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.106);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.login-login-text{
    font-size: 1.5vw;
    font-weight: bold;
    color: rgb(246, 246, 246);
    user-select: none;
}

.login-error{
    font-size: 1vw;
    color: rgb(218, 17, 17);
}

.login-footer{
    width: 100%;
    padding: 20px;
    background-color: rgb(230, 230, 230);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    display: flex;
    justify-content: center;
}

.login-footer-text{
    font-size: 1vw;
    color: rgb(218, 17, 17);
    cursor: pointer;
}

.dim{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: 0;
    backdrop-filter: blur(1px);
}

.dim-in{
    animation: fade-in 0.05s linear forwards;
}

.dim-out{
    animation: fade-out 0.05s linear forwards;
}

.dim-in-slower{
    animation: fade-in 0.5s linear forwards;
}

.dim-out-slower{
    animation: fade-out 0.5s linear forwards;
}

.chat-button{
    position: fixed;
    bottom: 20px;
    right: 100px;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    z-index: 20;
    background-color: rgb(246, 246, 246);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.506);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.chat-button > i{
    font-size: 35px;
    filter: invert(18%) sepia(73%) saturate(4931%) hue-rotate(355deg) brightness(87%) contrast(97%);
}

.chat-div{
    width: 500px;
    height: 500px;
    position: fixed;
    bottom: 50px;
    right: 9vw;
    background-color: rgb(246, 246, 246);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.506);
    z-index: 21;
    border: 1px solid grey;
}

.chat-header{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    padding: 10px;
    padding-top: 13px;
    justify-content: flex-start;
    box-sizing: border-box;
    align-items: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: rgb(218, 17, 17);
}

.chat-header > div{
    font-size: 20px;
    font-weight: bold;
    color: rgb(246, 246, 246);
}

.chat-header-div{
    width: 55%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.back-button > i{
    font-size: 25px;
    cursor: pointer;
}

.user-chat-div{
    height: 90%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.chat-content-wait{
    height: 90%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.chat-content-div{
    height: 90%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    flex-direction: column;
}

.chat-box{
    height: 80%;
    padding: 10px;
    background-color: rgb(246, 246, 246);
    overflow: scroll;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.chat-write{
    height: 20%;
    padding: 10px;
    background-color: rgb(218, 17, 17);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.chat-write-box{
    width: 80%;
    height: 90%;
    background-color: rgb(246, 246, 246);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.306);
    outline: none;
    border: none;
    font-family: 'Josefin Sans';
    padding: 5px;
    box-sizing: border-box;
    font-size: 15px;
    resize: none;
}

.chat-write-button{
    width: 20%;
    height: 90%;
    background-color: rgb(246, 246, 246);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.306);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.chat-write-button > i{
    transform: scale(2);
    transition: transform 0.1s ease-out;
    filter: invert(18%) sepia(73%) saturate(4931%) hue-rotate(355deg) brightness(87%) contrast(97%);
}

.chat-write-button:hover > i{
    transform: scale(2.5);
    transition: transform 0.1s ease-out;
}

.my-message-row{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.their-message-row{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.my-message-div{
    max-width: 70%;
    background-color: rgba(218, 17, 17, 0.2);
    border-radius: 15px;
    padding: 10px;
    box-sizing: border-box;
}

.their-message-div{
    max-width: 70%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    padding: 10px;
    box-sizing: border-box;
}

.my-message-content, .their-message-content{
    font-size: 18px;
}

.loader {
    width: 60px;
    height: 60px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 8px solid #bcbcbc;
    border-bottom: 8px solid rgb(247, 75, 75);
    border-right: 8px solid rgb(218, 17, 17);
    border-top: 8px solid rgb(171, 0, 0);
    border-radius: 50%;
}

.spinner{
    animation: spin-loader 2s linear infinite;
}

.spinner-once{
    animation: spin-loader-once 0.5s linear;
}

@keyframes spin-loader {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}

@keyframes spin-loader-once {
    0% { transform: translate(-50%, -50%) rotate(0deg); opacity: 1;}
    100% { transform: translate(-50%, -50%) rotate(360deg); opacity: 0;}
}

@keyframes fade-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes fade-out {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.no-chats{
    height: 90%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

.no-chats-text{
    font-weight: bold;
    font-size: 20px;
}

.red-to-green{
    animation: red-to-green 0.2s linear forwards;
}

.scale-little{
    transform: scale(1.5);
}

@keyframes red-to-green{
    0%{
        background-color: rgb(218, 17, 17);
    }
    100%{
        background-color: rgb(30, 176, 37);
    }
}

.instructions{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    gap: 20px;
}

.instructions-title{
    font-weight: bold;
    font-size: 3vw;
    width: 100%;
    text-align: center;
}

.instructions-steps{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.instructions-steps > div{
    width: 33.333%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    padding-left: 5vw;
    padding-right: 5vw;
    gap: 10px;
}

.instructions-steps > :not(:last-child){
    border-right: 2px solid rgb(218, 17, 17);
}

.step-title{
    height: 10%;
    width: 100%;
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
}

.step-1 > .step-image{
    height: 40%;
    width: 60%;
}

.step-2 > .step-image{
    height: 100%;
    width: 100%;
}

.step-3 > .step-image{
    height: 100%;
    width: 100%;
}

.step-1 img{
    transform: rotate(5deg);
}

.step-1 img::after{
    position: relative;
    top: 50%;
    left: 50%;
    content: '';
    transform: translate(-50%, -50%) rotate(45deg);
    width: 3px;
    height: 100%;
    background-color: rgb(218, 17, 17);
}

.step-2 img{
    filter: invert(18%) sepia(73%) saturate(4931%) hue-rotate(355deg) brightness(87%) contrast(97%);
}

.step-3 img{
    filter: invert(41%) sepia(39%) saturate(5594%) hue-rotate(102deg) brightness(101%) contrast(107%);
}

.step-image > img{
    height: 100%;
    width: 100%;
}

.step-description{
    height: 50%;
    width: 100%;
    font-size: 1.4vw;
}


@media only screen and (max-width: 1426px) {

    .banner{
        flex-direction: column-reverse;
        align-items: center;
    }

    .banner-image{
        width: 60%;
    }

    .banner-wrap{
        width: 100%;
    }

    .searchbar{
        width: 90%;
    }

    .searchbar input{
        width: 100%;
    }

    .search-button{
        margin-left: -5px;
    }

    .header-icons{
        margin-right: 10px;
        font-size: 14px;
    }
}

@media only screen and (max-width: 980px) {
    .header-icons{
        display: none;
    }

    .menu-button{
        display: flex;
    }

    .used-banner{
        flex-direction: column;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .used-image{
        width: 100%;
        top: 40px;
    }

    .used-image > img{
        width: 80%;
    }

    .used-text{
        margin-top: 20px;
        width: 100%;
        align-items: center;
        justify-content: flex-start;
        gap: 20px;
    }

    .used-uppertext{
        font-size: 6vw;
        text-align: center;
    }

    .used-subtext{
        font-size: 4vw;
        text-align: center;
    }

    .insert-post-button{
        font-size: 3.5vw;
    }
    
    .to-catalogue-button{
        font-size: 3.5vw;
    }

    .footer-bottom-text{
        width: 80%;
    }
    
    .footer-nav > div{
        font-size: 4vw;
    }

    .footer-nav > div:hover{
        font-size: 4vw;
    }
    
    .footer-logo{
        font-size: 5vw;
    }
    
    .footer-bottom-text{
        font-size: 2.3vw;
    }

    .step-description{
        font-size: 1.8vw;
    }

    .cart-icon {
        margin-left: -20px;
    }

    .banner{
        padding: 0;
        padding-left: 40px;
        padding-right: 40px;
    }

    .banner-image > img {
        margin-top: 10px;
        width: 180%;
    }

    .title-text, .cart-icon{
        font-size: 4vw;
    }

    .ellipse{
        width: 100vw;
        height: 50vw;
        top: -30vw;
        left: -50vw;
    }

    .banner-text-big{
        font-size: 7vw;
    }
    
    .banner-text-small{
        font-size: 4vw;
        text-align: center;
    }

    .search-bar{
        margin-top: 0;
    }

    .search-bar > div{
        width: 35vw;
        height: 11vw;
    }

    .featured-text {
        top: 20px;
        left: 50px;
        font-size: 6vw;
    }

    .container-fluid.my-5{
        position: relative;
        top: 50px;
    }

    .card{
        width: 70%;
    }

    .banner-wrap{
        gap: 20px;
    }

    .instructions{
        padding: 30px;
    }

    .instructions-title{
        font-size: 6vw;
    }

    .step-title{
        font-size: 6vw;
    }

    .step-description{
        font-size: 4vw;
    }

    .instructions-steps > :not(:last-child) {
        border-right: 0px solid rgb(218, 17, 17);
        border-bottom: 2px solid rgb(218, 17, 17);
    }

    .instructions-steps {
        flex-direction: column;
    }

    .instructions-steps > div {
        width: 100%;
    }

    .step-1 > .step-image {
        width: 30%;
    }

    .step-2 > .step-image {
        width: 50%;
    }

    .step-3 > .step-image {
        width: 50%;
    }

    .step-image > img {
        height: 100%;
        width: 100%;
    }

    .footer{
        bottom: 0;
    }

    .footer-bottom-text{
        font-size: 4vw;
    }

    .login-div{
        width: 90%;
    }

    .login-title{
        font-size: 5vw;
    }

    .close-cross{
        font-size: 4vw;
    }

    .login-login-text{
        font-size: 4vw;
    }
    
    .login-error{
        font-size: 3vw;
    }

    .login-footer-text{
        font-size: 3vw;
    }

    .chat-div{
        width: 90%;
        right: 50%;
        transform: translateX(50%);
    }

    .chat-button{
        bottom: 20px;
        right: 20px;
    }
}